.homestuff{
    
}

.title{
    position: absolute;
    top: 30%;
    right: 50%;
    font-size: 50px;
    color: black;
    font-family:'Segoe UI';
    padding-bottom: 10px;
}

.blueteam{
    position: absolute;
    top: 35%;
    right: 32%;
    font-size: 22px;
    color: black;
    font-family:'Segoe UI';
    padding-bottom: 10px;
    font-weight: lighter;
}

em{
    color: #3a8cf0;
    font-style: normal;
}

.inputbox{
    position: absolute;
    top: 45%;
    left: 20%; 
    width: 50%;
    padding: 20px 20px;
    border: 2px solid #3a8cf0;
    border-radius: 4px;
    font-size: 18px;
}

.inputbox::placeholder {
    font-size: 18px;

}

.buttonstyle{
    position: absolute;
    top: 45%;
    left: 72.5%;
    padding: 21px 25px;
    border: 2px solid #1f6cc9;
    border-radius: 4px;
    background-color: rgb(120, 120, 236);
    
}

.buttonstyle a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.App {
    position: absolute;
    top: 700px;
    left: 500px;
}