.testInfo {
    font-family: 'Segoe UI';
}

.dropdown {
    margin-top: 2%;
    margin-left: 27%;
    max-height: 50px;
    min-height: 50px;
    max-width: 950px;
    min-width: 950px;
    border-color: grey;
    font-size: 110%;
    
}

.buttonText{
    
}

.testname{
    text-align: left;
    position: relative;
    right:250px;
    font-size: 100%;  
    font-family: 'Segoe UI';
    font-weight: 500;
}

.arrow{
    position: absolute;
    left: 1390px;
    margin-top: 3px;
}

.toggle {
    margin-left :27%;
}

.content {
    margin-left :27%;
    margin-top: 10px;
    border: 1px solid rgb(128, 123, 123, 0.5);
    padding: 0.5rem;
    max-width: 932px;
}
    
.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height 5s ease-in-out;
}
    
.content-show {
    height: 200px;
}

.testTitle {
    
}

.testBody {
    font-family: 'Segoe UI';
}
.subheading {
    font-weight: bold;
    font-size: 15px;
}